li {
	list-style-type: none;
}

.todoList {
	margin-left: 1em;
	margin-right: 1em;
}

.todoButton {
	padding: 0px;
	cursor: pointer;
	height: 32px;
	width: 32px;
	position: relative;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
}
